<p id="notice"><%= notice %></p>

<h1>Caves</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Longtitude</th>
      <th>Latitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @caves.each do |cafe| %>
      <tr>
        <td><%= cafe.category %></td>
        <td><%= cafe.name %></td>
        <td><%= cafe.longtitude %></td>
        <td><%= cafe.latitude %></td>
        <td><%= link_to 'Show', cafe %></td>
        <td><%= link_to 'Edit', edit_cafe_path(cafe) %></td>
        <td><%= link_to 'Destroy', cafe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cafe', new_cafe_path %>
